.linkedin-logo {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  padding: 0; 

}

.login-btn {
  // width: 100px;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 3px;
  background: #ccc;
  font-size: 16px;
  color: #333;
  :hover {
    transform: translateY(-0.33em);
  }
  :active {
    transform: translateY(0);
  }
}
