.linkedin-logo {
  width: 55px;
  margin-left: 20px;
  cursor: pointer;
}
.topbar-main {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.87);
}
.topbar-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  width: 55%;

}
.popup-position {
  position: absolute;
  right: 10px;
  top: 65px;
  z-index: 99;
}
.react-icons{
    color: #787878;
    cursor: pointer;
}
.react-icons:hover{
    color: black;
}

.user-logo
{
    width: 40px;
    position: absolute;
    right: 30px;
    cursor: pointer;
}